/* //KELAS BUAT NOTIFIKASI ERROR */

#warningnotif{
    font-size: 50px;
    text-align: center;

    
}

.dialogwarning{
    margin-top:20%;
    width: 100%;
    height: 70%;
    background-color:red;
    color:white;
}

.warning_content{
    font-size:20px;
}